body {
  margin: 0px;
}
.container {
  width: 80%;
  margin: auto;
}
.globalmsg {
  background: yellowgreen;
  color: whitesmoke;
  padding: 1rem 0;
}
.globalmsg > div,
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* top nav bar */
.topnavbar {
  background: yellow;
  color: yellowgreen;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
.menu ul li {
  margin-left: 1.2rem;
}
.menu ul li:hover {
  cursor: pointer;
  color: rgb(31, 54, 8);
}
/* hero section */
.hero {
  background: url(travel.jpg) no-repeat center;
  height: 80vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  background: rgba(0, 0, 0, 0.766);
  color: beige;
  width: 450px;
  padding: 1rem 2rem;
  height: 6rem;
  text-align: center;
}
/* main section */

.main {
  display: flex;
}
.main-content {
  width: 66%;
}
.side-links {
  width: 34%;
  margin-left: 20px;
  margin-top: 70px;
}
article {
  border: 1px solid rgb(213, 242, 145);
  border-radius: 5px;
  padding: 10px;
  display: flex;
}
.art-img {
  width: 250px;
  margin-right: 20px;
}
.title {
  font-size: 1.3rem;
  font-weight: bolder;
}
.btn-box {
  display: flex;
  justify-content: flex-end;
}
.btn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background: orangered;
  color: wheat;
  cursor: pointer;
}
/* sidelink */

.side {
  margin: 20px;
  padding: 10px;
}
.year {
  background: yellow;
}
.country {
  background-color: greenyellow;
}
/* recomendations */
.recomendation {
  margin-top: 20px;
  background: greenyellow;
  padding: 3rem 0;
}
.recomendation-box-mutliple {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 10px;
}
.recomendation-box {
  margin-left: 10px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  box-shadow: -10px 10px 30px gray;
}
.recomendation-box img {
  border-radius: 10px 10px 0px 0px;
}
.recomendation-content {
  background: whitesmoke;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
.recomendation-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.recomendation-box-heading {
  font-size: 1.1rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.recomendation-btn > .btn {
  padding: 8px 55px;
}
/* subscribe form */

.subscription {
  margin-top: 30px;
  text-align: center;
}
.subscribe-heading {
  font-size: 1.3rem;
  font-weight: bolder;
}
/* footer */
.footer {
  margin-top: 100px;
  background: black;
  color: bisque;
  text-align: center;
}
/* media query */

/* Ipad 992px
@media (max-width: 992px) {
  .main {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .side-links {
    display: flex;
    width: 100%;
  }
  .country {
    width: 50%;
  }
  .year {
    width: 50%;
  }
} */

/* Mobile 768px */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .side-links {
    flex-direction: column;
    width: 100%;
  }
}
@media (768px < width <992px) {
  .main {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .side-links {
    display: flex;
    width: 100%;
  }
  .country {
    width: 50%;
  }
  .year {
    width: 50%;
  }
}
